@font-face {
  font-family: Open-sans-r;
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: Open-sans-b;
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: Open-sans-l;
  src: url("../fonts/OpenSans-Light.ttf");
}
body {
  background: #f9f9f9;
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
}
.Top {
  background: #fff;
  margin: 0px auto 0px auto;
  position: fixed;
  width: 100%;
}
.Top-cent {
  margin: 0px auto 0px auto;
  width: 65%;
}
.Top-izq {
  text-align: left;
}
.Top-der ul {
  float: right;
  margin: 32px 0px 0px 0px;
}
.Top-der ul li {
  display: inline-block;
  list-style: none;
}
.Top-der ul li a {
  padding: 0.5em;
  text-decoration: none;
}
.Top-izq,
.Top-der {
  display: inline-block;
  vertical-align: top;
}
.Top-izq img {
  width: 180px;
}
